html, body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #F7F8FB;
  height: 100%;
  -webkit-font-smoothing: antialiased; 
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.App {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px; 
}

.question, .amountToPutOnCard {
  /* font-size: 22px; */
  font-weight: 100;
  margin-top: 15px;
  color: white;
  margin-bottom: 8px;
  max-width: 320px; 
}


p {
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
  font-size: 15px;
  color: #7F828B;
  line-height: 21px;
  margin-bottom: 4px; 
}

.searchBtn {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
  margin: 10px;
  font-size: 14px;
  color:white;
  border: 1px solid white;
  background: transparent;
}

body {
  background: linear-gradient(135deg, #c8a2c8 50%, #FF69B4 100%); 
}

  input[type=number] {
    width: 100%;
    background-color: transparent;
    margin: 8px 0;
    box-sizing: content-box;  
    width: 300px;
    border: 0px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color:white;
    text-align: center;
    font-size: small;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .answer {
    color: rgb(65, 65, 211);
  }

  .prayer { 
    display: flex;
    margin: auto;
    fill: white;
    width: 45px;
    height: 45px;
  }

  .svg-icon {
    width: 25px;
    height: 25px;
    padding: 0px 5px;
  }

  .credits {
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0;
    left:0;
    padding: 1px;
  }